[Unit]
Description=UdpPipe
After=syslog.target
After=network.target

[Service]
Type=simple
User=udppipe
Group=udppipe
ExecStart=/home/udppipe/UdpPipe/start.sh

# Give the script some time to startup
TimeoutSec=300

[Install]
WantedBy=multi-user.target